In [1]:
import pymongo

In [2]:
myclient = pymongo.MongoClient('localhost',27017)

In [3]:
mydb = myclient['dammyDatabase']

In [6]:
mycol = mydb['forum']

In [5]:
mydic = {'name':'siraj', 'age':'22' ,'gender':'male' }

# inserting single document

In [10]:
mycol.insert_one(mydic)

In [11]:
# Insert another record in the "customers" collection, and return the value of the _id field

In [12]:
mydic2 = {'name':'shoaib', 'age':'18' ,'gender':'male' }

In [13]:
x = mycol.insert_one(mydic2)

In [15]:
print(x.inserted_id) # it will return the id of inserted record

5ee58313f01f27f591ade0b5

# Inserting multiple douments

In [16]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

In [17]:
y = mycol.insert_many(mylist)

In [18]:
print(y.inserted_ids)

[ObjectId('5ee583a3f01f27f591ade0b6'), ObjectId('5ee583a3f01f27f591ade0b7'), ObjectId('5ee583a3f01f27f591ade0b8'), ObjectId('5ee583a3f01f27f591ade0b9'), ObjectId('5ee583a3f01f27f591ade0ba'), ObjectId('5ee583a3f01f27f591ade0bb'), ObjectId('5ee583a3f01f27f591ade0bc'), ObjectId('5ee583a3f01f27f591ade0bd'), ObjectId('5ee583a3f01f27f591ade0be'), ObjectId('5ee583a3f01f27f591ade0bf'), ObjectId('5ee583a3f01f27f591ade0c0'), ObjectId('5ee583a3f01f27f591ade0c1')]

# Insert Multiple Documents, with Specified IDs

In [19]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

z = mycol.insert_many(mylist)
print(z.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]